#conversation {
    height: 100%;
    overflow-y: scroll;
}

.chat-area-bg {
    background-color: antiquewhite;
}

#chat-area, #chat-area-mobile {
    position: relative;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chat-area {
    height: 100%;
    max-width: 501px;
    min-width: 400px;    
}

#chat-area-mobile {
    max-width: none;
    max-height: 301px;
    min-height: 300px;    
}

#mobile-view {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;    
}